version: '3.8'

services:
  haproxy:
    image: haproxy:1.9.10
    ports:
      - "80:80"
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
    depends_on:
      - web

  web:
    build: ./app
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "8000:8000"
